.min-height{
  width: 800px;
  height: 800px;
  background-color: #dff0d8;
  margin-left: 110px;
  position: relative;
}
.pa{
  position: absolute;
}

.col-group{
  padding-left: 0;
  margin-bottom: 0;
  line-height: 1.2;
}
.col-group-item{
  border: 1px solid #ddd;
  position: relative;
  display: block;
}
.panel-node{
  width: auto;
  display: inline-block;
  /*margin: auto 1px;*/
  /*行内文本太长后面的就省略*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.panel-node-origin{
  border: 1px solid #91c051;
  background-color: #91c051;
}
.panel-node-rs{
  border: 1px solid #d26b58;
  background-color:#d26b58;
}
.table-header{
  text-align: center;
  padding: 1px 15px;
  background-color: #91c051;
  color: white;
  font-size: 12px;
}


.panel-node-list{
  background-color: #fff;
  padding:  1px 10px ;
  font-size: smaller;
  /*行内文本太长后面的就省略*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.panel-node-list:hover{
  background-color:#faebd7
}