.min-height{
  height: 300px;
}
.pa{
  position: absolute;
}
.fixed-node{
  position: absolute;
  top: 80px;
  left: 150px;
}
.col-group{
  padding-left: 0;
  margin-bottom: 0;
}
.col-group-item{
  background-color: #fff;
  border: 1px solid #ddd;
  position: relative;
  display: block;
}
.table-header{
  padding: 2px 25px;
  background-color: #91c051;
  color: white;
}

#end-node{
  left: 150px;
  top: 700px;
}
.panel-node{
  width: 150px;
  display: inline-block;
  /*margin: auto 1px;*/
  word-wrap:break-word
}
.panel-node-origin{
  border: 1px solid #91c051;
}
.panel-node-rs{
  border: 1px solid #d26b58;
}
.panel-node-list{
  padding: 2px 10px;
  font-size: smaller;
}